*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 20px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .area {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .area {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .area {
        width: 1140px;
    }
}

.navbar-component {
    background-color: #fff;
    border-bottom: 1px solid lightgray;
}

.navbar-component > .navbar {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar > .brand {
    display: block;
    font-size: 16px;
    color: #777;
    margin: 22px;
    margin: 0 auto;
    width: 25%;
    height: 65px;
    transform: perspective(1px) translateY(6%);
}

.navbar > .toggle {
    outline: none;
    border: 0;
    display: inline-block;
    background-color: transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 22px;
}

@media (min-width: 768px) {
    .navbar > .toggle {
        display: none;
    }
}

.navbar > .toggle > .icon {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar > .toggle > .icon,
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
    display: block;
    width: 24px;
    height: 3px;
    -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
    background-color: #555555;
}

.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
    position: absolute;
    content: "";
}

.navbar > .toggle > .icon:before {
    top: -8px;
}

.navbar > .toggle > .icon:after {
    top: 8px;
}

.navbar > .toggle.-active > .icon {
    background-color: transparent;
}

.navbar > .toggle.-active > .icon:before {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.navbar > .toggle.-active > .icon:after {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

.navbar > .list {
    display: none;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .navbar > .list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (max-width: 768px) {
    .navbar > .list {
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        border-top: 1px solid #dddddd;
        background-color: #ffffff;
    }
}

.navbar > .list.-on {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.navbar > .list > .item {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 64px;
    line-height: 64px;
    padding-left: 22px;
    padding-right: 22px;
    text-transform: uppercase;
    color: #555555;
    font-size: 14px;
}

.navbar > .list > .item.-link {
    line-height: 68px;
    color: #555555;
    border-bottom: 4px solid transparent;
}

.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
    color: lightgray;
    border-bottom-color: #F3E055;
}